<%- include('partials/header') %>

<div class="row justify-content-center mt-5">
  <div class="col-md-6 text-center">
    <h1 class="mb-4">Strava Title Generator</h1>
    <p class="lead mb-4">Automatically create awesome titles for your Strava activities.</p>
    <a href="/auth/strava" class="btn btn-primary btn-lg">
      Connect with Strava
    </a>
  </div>
</div>

<%- include('partials/footer') %> 