<footer class="footer">
  <div class="container">
    <p>
      Not affiliated with Strava, Inc. View on <a href="https://github.com/wadewegner/strava-quote-generator" target="_blank" rel="noopener noreferrer">GitHub</a>.
    </p>
  </div>
</footer>
  
</body>
</html> 